body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}

h1,h2,h3,h4,p{
    margin-bottom: 0;
    line-height: 1.1;
}

a,a:link,a:visited,a:active{
    text-decoration: none !important;
}

ul {
    list-style-type: none;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
}