:root {
    //dark
    --colorhunt-dark-1: #D4ECDD;
    --colorhunt-dark-2: #345B63;
    --colorhunt-dark-3: #152D35;
    --colorhunt-dark-4: #112031;
    //light
    --colorhunt-light-1: #FEF7DC;
    --colorhunt-light-2: #E6DDC6;
    --colorhunt-light-3: #C2B8A3;
    --colorhunt-light-4: #A19882;
    //fonts
    --font-ibm: 'IBM Plex Sans Arabic', sans-serif;
    //font-weight
    --weight-light-300: 300;
    --weight-regular-400: 400;
    --weight-bold-700: 700;
}